@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap');

body {
  font-family: "Arial", serif;
}

/* Footer */

.footer {
  background-color: #666;
  color: #fff;
  direction: rtl;
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 130px;
  font-family: Tahoma, Arial, sans-serif;
}

.footer div {
  width: 80%;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
  font-size: 12px;
}

.footer-links li {
  margin-bottom: 8px;
  font-size: 12px;
}

.footer ul li i {
  margin-left: 5px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.contact-info {
  /* line-height: 1.6; */
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 15px;
}